.footer-container {
    font-family: "DM Sans", sans-serif;
    background-color: #32bf32;
    padding: 50px;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
  
.footer-text {
    flex: 1;
    min-width: 300px;
}
  
.footer-text img {
    width: 50px;
}
  
.footer-image {
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
}