.hero-container {
    font-family: "DM Sans", sans-serif;
    font-size: 30px;
    padding: 120px;
}

.quote {
    border-left: 5px solid gray;
    border-left-color: plum;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 4rem;
    padding: 1rem;
    font-style: italic;
    font-weight: 400;
}